// /* портфолио*/

.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio-filter {
    display: $dFlex;
    align-items: $aiCenter;
    justify-content: center;

    margin-bottom: 50px;
}

.portfolio-filter__button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: $let-Spa;
    color: $secondaryColor;
    background-color: #f5f4fa;
    border-radius: 4px;

    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;

    border: 0;

    transition: background-color var(--duration) var(--timing-function),
        color var(--duration) var(--timing-function), box-shadow var(--duration) var(--timing-function);

        &:hover,
        &:focus {
                color: $primaryColor;
                background-color: $accentColor;
                box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
                    0px 2px 2px rgba(0, 0, 0, 0.12);
            }
}

.portfolio-filter__item {
    margin-right: 8px;

    &:last-child {
            margin-right: 0;
}
}




.portfolio-content {
    display: $dFlex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-title {
    @extend %hidden
}

.portfolio-content__item {
    margin-bottom: 30px;

    &:nth-child(n + 7) {
            margin: 0;
        }
}



.portfolio-link {
    display: $dBlock;
    text-decoration: none;

    transition: box-shadow var(--duration) var(--timing-function);

    &:hover,
    &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}



.portfolio-link__image {
    position: relative;
    overflow: hidden;
}

.portfolio-link__image:hover .portfolio-link__text-overlay,
.portfolio-link:focus .portfolio-link__text-overlay {
    transform: translateY(0);
}

.portfolio-link__text-overlay {
    position: absolute;
    top: 0;
    left: 0;

    transform: translateY(100%);
    transition: transform var(--duration) var(--timing-function);

    height: 100%;
    padding-top: 63px;
    padding-right: 24px;
    padding-bottom: 63px;
    padding-left: 24px;

    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;

    color: $primaryColor;
    background-color: $accentColor;
}

.portfolio-link__item {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;

    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
}

.portfolio-link__title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: $secondaryColor;

    margin-bottom: 4px;
}

.portfolio-link__text {
    line-height: 1.87;
    letter-spacing: $let-Spa;
    color: #757575;
}