.header {
    display: flex;
    align-items: center;
    position: relative;
}

.header-line {
    border-bottom: 1px solid #ececec;
}

// /* навигация для mobile */

.header__button{
display: inline-block;
padding: 0;
margin: 0;
margin-left: auto;

border: none;
background-color: transparent;


//   &--cross {
//       display: none;
//   }

  &:hover,
  &:focus {
      fill: $accentColor;
  }

  @media screen and (min-width: $tablet) {

    display: none;
  }
}

// .header__button.is-open .header__button--cross{
//     display: block;
// }

// .header__button.is-open .header__button--menu{
//     display: none;
// }



// mobile menu
.mobile-menu{
    position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding: 32px;
        background-color: $primaryColor;
        z-index: 999;
    
        transform: translateX(100%);
        transition: transform 250ms ease-in-out;

            &.is-open {
                    display: flex;
                    flex-direction: column;
            
                    @media screen and (min-width: $tablet) {
            
                        display: none;
                    }
                }
    }
    
    .mobile-menu.is-open {
        transform: translateX(0);

        // &.header__button--cross {
        //             display: block;
        //         }
    }
.mobile-menu .header__button {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
}
//     display: none;
//     position: absolute;
//     top: 100%;
//     left: 0;
//     width: 100%;
//     height: 796px;

//     padding: 40px;
//     background-color: rgb(243, 234, 129);
    





.mobile-menu__nav-item{
    margin-bottom: 32px;
    &:last-child {
            margin-bottom: 0;
        }
}


.mobile-menu__nav-link{

    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $secondaryColor;

    &--current{
        color: $accentColor;
    }
}

.mobile-menu__contacts {
    margin-top: auto;
    margin-bottom: 64px;
}

.mobile-menu__contacts-item{
margin-bottom: 32px;
&:last-child {
        margin-bottom: 0;
    }
}

.mobile-menu__tel-link{

  
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    
    letter-spacing: 0.02em;
text-decoration: none;
    color: $accentColor;
}

.mobile-menu__mail-link{
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
text-decoration: none;
    color: #757575;
}

.mobile-menu__socials{
    display: flex;
}

.mobile-menu__socials-link{
         font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
            
        letter-spacing: 0.02em;
    text-decoration: none;
        color: $accentColor;
}

.mobile-menu__socials-link-devider{
    margin-right: 10px;
    margin-left: 6px;
    color:  rgba(33, 33, 33, 0.2);
}

// навигация для tablet и desktop
.header__nav-list {
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
    
            display: none;
        }
}

.header__nav-item {
    margin-right: 50px;

    &:last-child {
        margin-right: 0;
    }
}


.header__nav-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $secondaryColor;
    text-decoration: none;


    transition: color var(--duration) var(--timing-function);

    &:hover,
    &:focus {
        color: $accentColor;
    }
}



// /* подсветка навигации на 2х страницах */
.header__nav-link--current {
    color: $accentColor;
    position: relative;

    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 4px;
        background: $accentColor;
        border-radius: 2px;

        position: absolute;
        bottom: 0;
        left: 0;
    }
}



.header__contact-list {
    

    @media screen and (max-width: 767px) {
    
            display: none;
        }

  @media screen and (min-width: $tablet) {

     margin-left: auto;
  }

       @media screen and (min-width: $desktop) {
             display: flex;
            align-items: center;
            margin-left: auto;
                    
       }
}

.header__contact-item {
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
    margin-bottom: 10px;
    
        &:last-child {
            margin-bottom: 0;
        }
    }

    @media screen and (min-width: $desktop) {
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
    }
    
}



.header__contact-link {
    display: flex;
    align-items: center;

   

    font-weight: 500;
    
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;


    transition: color var(--duration) var(--timing-function);

    &:hover,
    &:focus {
        color: $accentColor;
    }

    &:hover .header__contact-icon-mail,
    &:focus .header__contact-icon-mail {
        fill: $accentColor;
    }

         &:hover .header__contact-icon-tel,
         &:focus .header__contact-icon-tel {
             fill: $accentColor;
         }

         @media screen and (min-width: $tablet) and (max-width: 1199px) {
            font-size: 12px;
             line-height: 1.16;
           
         }

        @media screen and (min-width: $desktop) {
            padding-top: 32px;
                padding-bottom: 32px;
            font-size: 14px;
                line-height: 1.14;
        }
}


.header__contact-icon-mail,
.header__contact-icon-tel
 {

    margin-right: 8px;
    transition: fill var(--duration) var(--timing-function);

    @media screen and (min-width: $desktop) {
        margin-right: 10px;
    }


}
.header__contact-icon-tel{
 @media screen and (min-width: $tablet) and (max-width: 1199px) {
     
     height: 14px;
 }
 }

 .header__contact-icon-mail{
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
            width: 14px;
            height: 10px;
        }
 }